
<footer class="blog-footer">
  <p> ©<a href="https://github.com/adityakhattri21">2022 News_App</a> by <a href="https://github.com/adityakhattri21">Aditya</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


    
  </body>
</html>